<%- include('../../includes/customer/head.ejs') %>
    <link rel="stylesheet" href="/front-end/Css/customer/account.css">

    <%- include('../../includes/customer/header-end.ejs') %>


        <body>

            <!-- nav-bar -->
            <%- include('../../includes/sellercompany/navbar-dash.ejs') %>


                <!-- nav-bar -->




                <section class="Account-Content">


                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/account" id="profile">Profile</a>
                        </li>
                        <li class="nav-item selected">
                            <a class="nav-link" href="/changepassword" id="change-password">Password</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/orders" id="email">My Orders</a>

                        </li>

                        <!-- <li class="nav-item">
                            <a class="nav-link" href="Personal-data.html" id="personal-data">Personal data</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="/add-address" id="address">Address</a>
                        </li>

                    </ul>

                    <div id="line"></div>


                    <div class="right-side-panel">

                        <div class="MyProfile">
                            <h3>My Profile</h3>

                        </div>
                        <div class="PersonalInforamtion">
                            <div class="PersonalInforamtion-button">
                                <p>Change Password</p>
                            </div>
                            <% if (errorMessage) { %>
                                <p class="error-message">
                                    <%= errorMessage %>
                                </p>
                                <% } %>
                                    <form action="/reset" method="POST">
                                        <!-- <% if (isAuthenticated) { %>
                                            <div class="form-group">
                                                <label for="email">OI</label>
                                                <input type="text" name="email" id="email" class="form-control">
                                            </div>
                                            <% } %> -->

                                                <div class="username-container">
                                                    <label for="email">Email</label>
                                                    <input type="text" name="email" id="email" class="form-control" value="<%= user.email %>">
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" id="saveButton" class="Signup-btn btn-primary">Reset
                                                        Password</button>
                                                </div>


                                    </form>


                        </div>

                    </div>
                </section>

                <!--    content here -->



                <!--    content here -->
                <%- include('../../includes/customer/footer.ejs') %>
        </body>

        <%- include('../../includes/customer/script.ejs') %>

            </html>