<%- include('../../includes/customer/head.ejs') %>
    <link rel="stylesheet" href="/css/auth/login.css">

    <%- include('../../includes/customer/header-end.ejs') %>


        <body>

            <!-- nav-bar -->
            <%- include('../../includes/customer/navbar.ejs') %>


                <!-- nav-bar -->
                <section class="left-right-section-container">
                    <section class="leftside">
                        <img src="/assets/Imgs/logo/logo-sign-up.png" alt="">
                        <div class="leftside-content">
                            <!-- <h1>PARADISE</h1>
                            <p>TECHNOLOGY</p> -->
                        </div>
                    </section>


                    <section class="rightside">
                        <div class="Signup">
                            <h1 id="login-h1">Reset Password</h1>
                            <% if (errorMessage) { %>
                                <p class="error-message"><%= errorMessage %></p>
                                <% } %>
                            <form action="/reset" method="POST">
                                <% if (isAuthenticated) { %>
                                    <div class="form-group">
                                        <label for="email">OI</label>
                                        <input type="text" name="email" id="email" class="form-control" >
                                    </div> 
                                    <% } %>

                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" name="email" id="email" class="form-control" >
                                </div>                             
                                <div class="form-group">
                                    <button type="submit" class="Signup-btn btn-primary">Reset Password</button>
                                </div>
                                

                            </form>
                            

                        </div>
                    </section>
                </section>

                <!--    content here -->



                <!--    content here -->
                <%- include('../../includes/customer/footer.ejs') %>
        </body>

        <%- include('../../includes/customer/script.ejs') %>

            </html>