<div class="sidebar-side">
        <a class="<%= path === '/admin/Dashboard' ? 'selected' : '' %>" href="/admin/dashboard"><img src="/assets/Imgs/Icons/Dashboard-icon.png" width="35px"
                        alt="">Dashboard</a>
        <a class="<%= path === '/admin/Myproduct' || path === '/admin/add-product' || path === '/admin/edit-product' ? 'selected' : '' %>" href="/admin/Myproduct"><img src="/assets/Imgs/Icons/basket.png" width="35px" alt="">Products</a>
        <a class="<%= path === '/admin/slideshow' ? 'selected' : '' %>" href="/admin/slideshow"><img src="/assets/Imgs/Icons/Slideshows-icon.png" width="35px" alt="">Slideshows</a>
        <a class="<%= path === '/admin/articles' ? 'selected' : '' %>" href="/admin/articles"><img src="/assets/Imgs/Icons/articles.png" width="35px" alt="">Articles</a>
        <a class="<%= path === '/admin/catalogs' ? 'selected' : '' %>" href="/admin/catalogs"><img src="/assets/Imgs/Icons/articles.png" width="35px" alt="">catalogs categories</a>
        <a class="<%= path === '/admin/TechnicalRequests' || path === '/admin/technical-requests' ? 'selected' : '' %>" href="/admin/TechnicalRequests"><img src="/assets/Imgs/Icons/articles.png" width="35px" alt="">Technical Requests</a>
        <a href="/admin/account"><img src="/assets/Imgs/Icons/settings-icon.png" width="35px" alt="">Settings</a>
</div>